body{
    background-color: siennna; 
}
h1{
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    color:black;    
    padding: 0;
    background-color: bisque;
}
p{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    text-transform: uppercase;
    background-color: bisque;
    padding: auto;
}
div{
    font-family: 'Times New Roman', Times, serif;
    text-align: center; 
    color: rgb(59, 63, 23);
    background-color: bisque;
}   
